body{
    background-color: gray;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
    font-size: 1vw;
}
html{
    padding: 0%;
    margin: 0%;

}
a{
    text-decoration: none;
    color: white;
}
 #cim{
    text-align: center;
    color: whitesmoke;
    position: absolute;
    left: 44%;
    text-decoration: underline;

}
#kep1{
    width: 6vw;
    height: 12vh;
    left: 90%;
    top: 70%;
    position: absolute;

}
#kep2{
    width: 6vw;
    height: 12vh;
    left: 90%;
    top: 50%;
    position: absolute;

}
#kep3{
    width: 40vw;
    height: 24vh;
    left: 2%;
    top: 15%;
    position: absolute;
    border: 5px solid white;

}
#kep4{
    width: 40vw;
    height: 24vh;
    left: 58%;
    top: 15%;
    position: absolute;
    border: 5px solid white;

}
#kep5{
    width: 40vw;
    height: 40vh;
    left: 2%;
    top: 45%;
    position: absolute;
    border: 5px solid white;
}
.fejlec{
    
    background-color: rgb(143, 143, 143);
    justify-items: center;
    width: 99.75vw;
    height: 10vh;
    position: absolute;
    z-index: -1;
    border: solid black 0.15vw;
    
}
.opciok{
    color: white;
    display: inline-block;
    
    margin-right: 20px;  
    margin-left: 15px;
    align-items: center;
    margin-top: 4vh;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 1.6vw;
}
.opciok.aktivalva {
    color: black;             
}
.opciok:hover {
    background-color: #ddd;
}
a{
    text-decoration: none;
}

.aktualis {
    font-weight: bold;
    color: black;
    text-decoration: none; 
}

#tartalom{
    top: 15%;
    width: 30vw;
    height: 29vh;
    left: 2%;
    position: absolute;
    color: azure;
    border: solid black 0.15vw;
    border-radius: 2vw;
    
}
#tartalom1{
    top: 50%;
    width: 30vw;
    height: 29vh;
    left: 2%;
    position: absolute;
    color: azure;
    border: solid black 0.15vw;
    border-radius: 2vw
    
}
#tartalom2{
    top: 15%;
    width: 15vw;
    height: 66vh;
    left: 79%;
    position: absolute;
    color: azure;
    border: solid black 0.15vw;
    border-radius: 2vw;

    overflow: hidden;
    
}
#tartalom,#tartalom1,#tartalom2 p{

    padding: 1vw;
    color: black;
  
    
}
#linkYouTube{
    position: absolute;
    top: 30%;
    left: 3%;
}
#linkInsta{
    position: absolute;
    top: 30%;
    left: 6%; 
}
#linkW3{
    position: absolute;
    top: 30%;
    left: 9%; 
}
#tartalom,#tartalom1,#tartalom2{
   
    background-color: rgba(255, 255, 255, 0.473);}
#labLec{
    top: 90%;
    position: absolute;
background-color: rgb(71, 71, 71);
    width: 100vw;
    height: 10vh;
    justify-content: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
    
}
#hambi{ 
    width: 50vw;
    height: 50vh;
    position: absolute;
    display: none;
}
/*TELEFON----------------------------------------------*/
@media only screen and (max-width: 600px) 
{
    body{
        background-image: none !important;

    }
    .fejlec{
        height: 13vh;
        width: 100vw;
       
    }
    .opciok{
        display: none;
    }
    .icon{
        width: 50vw;
        height: 50vh;
    }
    #hambi{
        display: block;
        width: 10vw;
        height: 5vh;
        top: 5%;
        left: 5%;
        position: absolute;
    
    }
    #cim{
        font-size: 10vw;
        position: absolute;
        left: 21%;
        top: 0;
    }
    #tartalom{
        width: 45vw;
        font-size: 2.5vw;
        line-height: 130%;
        overflow: hidden;
    }
    #tartalom1{
        width: 45vw;
        font-size: 2.5vw;
        line-height: 130%;
        overflow: hidden;
    }
    #tartalom2{
        width: 37.5vw;
        font-size: 3.5vw;
        line-height: 130%;
        overflow: hidden;
        left: 60%;
    }
    #linkYouTube{
        position: absolute;
        top: 30%;
        left: 3%;
    }
    #linkInsta{
        position: absolute;
        top: 30%;
        left: 14%; 
    }
    #linkW3{
        position: absolute;
        top: 30%;
        left: 24%; 
    }

} 

/*MInden más*/
@media only screen and (min-width: 600px) 
{
    body{
        background-color: rgb(107, 107, 107);
        background-image: none !important;
        font-size: 1.2vw;
    }
}

@media only screen and (min-width: 1200px) 
{
    body{
        background-image: url(venom.png) !important;
        background-position: center calc(50% - 32%);
    }
}