body{
    background-color: gray;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
    font-size: 1vw;
}
html{
    padding: 0%;
    margin: 0%;

}
 #cim{
    text-align: center;
    color: whitesmoke;
    position: absolute;
    left: 44%;
    text-decoration: underline;

}
#kep1{
    width: 10vw;
    height: 20vh;
    left: 85%;
    top: 64%;
    position: absolute;

}
#kep2{
    width: 10vw;
    height: 20vh;
    left: 85%;
    top: 38%;
    position: absolute;

}
#kep3{
    width: 40vw;
    height: 20vh;
    left: 2%;
    top: 15%;
    position: absolute;
    border: 5px solid black;

}
#kep4{
    width: 40vw;
    height: 20vh;
    left: 58%;
    top: 15%;
    position: absolute;
    border: 5px solid black;
}
#kep5{
    width: 70vw;
    height: 50vh;
    left: 2%;
    top: 40%;
    position: absolute;
    border: 5px solid black;
}
.fejlec{
    
    background-color: goldenrod;
    justify-items: center;
    width: 99.75vw;
    height: 10vh;
    position: absolute;
    z-index: -1;
    border: solid black 0.15vw;
    
}
.opciok{
    color: white;
    display: inline-block;
    
    margin-right: 20px;  
    margin-left: 15px;
    align-items: center;
    margin-top: 4vh;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.opciok.aktivalva {
    color: black;             
}
.opciok:hover {
    background-color: #ddd;
}
a{
    text-decoration: none;
}

.aktualis {
    font-weight: bold;
    color: black;
    text-decoration: none; 
}

#tartalom{
    top: 15%;
    width: 30vw;
    height: 29vh;
    left: 2%;
    position: absolute;
    color: azure;
    border: solid black 0.15vw;
    border-radius: 2vw;
    
}
#tartalom1{
    top: 50%;
    width: 30vw;
    height: 29vh;
    left: 2%;
    position: absolute;
    color: azure;
    border: solid black 0.15vw;
    border-radius: 2vw
    
}
#tartalom2{
    top: 15%;
    width: 10vw;
    height: 66vh;
    left: 85%;
    position: absolute;
    color: azure;
    border: solid black 0.15vw;
    border-radius: 2vw;
    overflow: hidden;
    
}
#tartalom,#tartalom1,#tartalom2 p{
    color: white;
    padding: 1vw;
    
}
#labLec{
    top: 90%;
    position: absolute;
background-color: rgb(48, 48, 165);
    width: 100vw;
    height: 10vh;
    justify-content: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
    
}
#hambi{ 
    width: 50vw;
    height: 50vh;
    position: absolute;
    display: none;
}
/*TELEFON----------------------------------------------*/
@media only screen and (max-width: 600px) 
{
    .fejlec{
        height: 13vh;
        width: 100vw;
       
    }
    .opciok{
        display: none;
    }
    .icon{
        width: 50vw;
        height: 50vh;
    }
    #hambi{
        display: block;
        width: 10vw;
        height: 5vh;
        top: 5%;
        left: 5%;
        position: absolute;
    
    }
    #cim{
        font-size: 10vw;
        position: absolute;
        left: 21%;
        top: 0;
    }
    #tartalom{
        width: 45vw;
        font-size: 2.5vw;
        line-height: 130%;
        overflow: hidden;
    }
    #tartalom1{
        width: 45vw;
        font-size: 2.5vw;
        line-height: 130%;
        overflow: hidden;
    }
    #tartalom2{
        width: 37.5vw;
        font-size: 3.5vw;
        line-height: 130%;
        overflow: hidden;
        left: 60%;
    }
} 

/*MInden más*/
@media only screen and (min-width: 600px) 
{

}

@media only screen and (min-width: 1200px) 
{
    
}